{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.test.json"]
    },
    "rules": {
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/consistent-type-exports": "error"
    }
}
