# scolengo-api

[![view on npm](http://img.shields.io/npm/v/scolengo-api.svg?style=flat-square)](https://www.npmjs.org/package/scolengo-api)
![GitHub CI](https://github.com/maelgangloff/scolengo-api/actions/workflows/CI.yml/badge.svg)
[![Discord](https://img.shields.io/discord/1095829734211977276?label=Discord&style=flat-square)](https://discord.gg/9u69mxsFT6)
[![npm](https://img.shields.io/npm/dm/scolengo-api?style=flat-square)](https://npm-stat.com/charts.html?package=scolengo-api)

<p align="center">
  <img src="https://github.com/The-Rabbit-Team/.github/blob/master/banners/scolengo-api.png?raw=true" />
</p>

Support non officiel de l'API Skolengo. Il s'agit de l'API utilisée par la nouvelle application mobile éponyme. Ce module permet de récupérer les données de l'ENT de manière automatique. De plus, certaines fonctions implémentées permettent de prétraiter les données (conversion de l'emploi du temps au format iCalendar par exemple).

Ce module est destiné à devenir le successeur de [kdecole-api](https://github.com/maelgangloff/kdecole-api) dans l'éventualité où l'accès à l'ancienne API serait définitivement clos.
Pour utiliser cette librairie, il est nécessaire de s'authentifier auprès des serveurs de Skolengo. Pour obtenir des jetons de connexion, vous pouvez utiliser [scolengo-token](https://github.com/maelgangloff/scolengo-token).

Pour participer et se tenir informé, **rejoins le serveur Discord: https://discord.gg/9u69mxsFT6**

## Remarques importantes:
- Il est clairement mentionné que cette librairie est n'est pas officielle.
- Ce module n'est pas une contrefaçon car il n'existe pas de module similaire édité officiellement.
- Les utilisateurs ne peuvent accéder qu'à leurs propres données. Ils sont soumis au même processus d'authentification que celui implémenté dans l'application.
- Les données des utilisateurs ne sont pas davantage exposées puisqu'un utilisateur ne peut accéder qu'à ses propres données. Personne n'a le contrôle sur cette limitation qui est inhérente au fonctionnement de l'API des serveurs de Skolengo.
- Cette librairie ne se suffit pas à elle-même pour fonctionner. Il est nécessaire de l'importer dans un projet et l'utilisateur est le seul responsable de son code et des éventuelles conséquences.
- Tout utilisateur de cette librairie a *a priori* lu l'entièreté du fichier de licence GPLv3 disponible publiquement [LICENSE](https://github.com/maelgangloff/scolengo-api/blob/master/LICENSE) ainsi que de ce présent fichier de présentation.
- Tout utilisateur de cette librairie a *a priori* lu l'entièreté du code de ce projet avant toute utilisation.
- Eu égard l'ensemble de ces remarques, les contributeurs et *a fortiori* l'auteur du projet ne peuvent être tenus comme responsables de tout dommage potentiel.

## Liste des ENT utilisant Skolengo :
| Nom usuel de l'ENT           | Code ENT | URL OpenID Connect Discovery                               |
|------------------------------|----------|------------------------------------------------------------|
| Mon Bureau Numérique         | gdest    | https://sso.monbureaunumerique.fr/oidc/.well-known         |
| Mon ENT Occitanie            | entmip   | https://sso.mon-ent-occitanie.fr/oidc/.well-known          |
| Arsène 76                    | cg76     | https://sso.arsene76.fr/oidc/.well-known                   |
| ENT27                        | cg27     | https://sso.ent27.fr/oidc/.well-known                      |
| ENT Creuse                   | cg23     | https://sso.entcreuse.fr/oidc/.well-known                  |
| ENT Auvergne-Rhône-Alpes     | rra      | https://sso.ent.auvergnerhonealpes.fr/oidc/.well-known     |
| Agora 06                     | cg06     | https://sso.agora06.fr/oidc/.well-known                    |
| CyberCollèges 42             | cg42     | https://sso.cybercolleges42.fr/oidc/.well-known            |
| eCollège 31 Haute-Garonne    | cg31     | https://sso.ecollege.haute-garonne.fr/oidc/.well-known     |
| Mon collège en Val d'Oise    | cg95     | https://sso.moncollege.valdoise.fr/oidc/.well-known        |
| Webcollège Seine-Saint-Denis | cg93     | https://sso.webcollege.seinesaintdenis.fr/oidc/.well-known |
| Eclat-BFC                    | bfc      | https://sso.eclat-bfc.fr/oidc/.well-known                  |
| @ucollège84                  | cg84     | https://sso.aucollege84.vaucluse.fr/oidc/.well-known       |
| ENT Val de Marne             | cg94     | https://sso.entvaldemarne.skolengo.com/oidc/.well-known    |
| Skolengo-Écoles primaires    | metab1d  | https://sso.skolengo.com/oidc/.well-known                  |
| Skolengo-Collèges et Lycées  | mpdl     | https://sso.pdl.kosmoseducation.com/oidc/.well-known       |
| AEFE                         | metab    | https://sso1.skolengo.com/oidc/.well-known                 |
| AEFE Amérique - Pacifique    | metabam  | https://sso2.skolengo.com/oidc/.well-known                 |
| Schulportal Ostbelgien       | cgb      | https://sso.schulen.be/oidc/.well-known                    |

Un wiki est disponible, celui-ci rassemble davantage d'informations sur le fonctionnement de l'API. **[Ce wiki est disponible ici](https://github.com/maelgangloff/scolengo-api/wiki).**

{{>main}}

## Liens utiles
- [Wiki](https://github.com/maelgangloff/scolengo-api/wiki)
- [Serveur Discord](https://discord.gg/9u69mxsFT6)
- [JSON:API Specification](https://jsonapi.org/format)
- [OpenID Connect Specification](https://openid.net/connect)
